*{margin: 0;padding: 0;}
body{background: url(../img/back.png); }
.main{padding-top: 50px;}
.main h3{text-align: center;color: #fff;}
.table-bordered td, .table-bordered th{color: #fff;}
.table-bordered .bin{ padding:2px }
.table-bordered .bin textarea{ width:100%; padding:10px }
.table-bordered .vendor{ display:flex; flex-direction: column; }
.table-bordered .region div{ display:flex; align-items: center; margin:15px 0px}
.table-bordered .region div select{ margin-left:15px; padding:2px; border:none; border-radius:3px; font-size:.7rem; width: 300px;  }
.table-bordered .region div select:focus-visible{ outline:none }
.table-bordered .region div input{ margin-left:15px }
label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Level{ display:flex; flex-direction: column;}

.back-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.back-to-home:hover {
    background-color: #0056b3;color:#fff 
}
.body{ min-height: 80vh }
footer{text-align: center; border-top: 1px solid #ddd; color: #fff; padding: 20px; height: 20vh}
footer h3{font-size: 1.2rem}

